.actual-summary{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    align-items: center;
    border-radius: 20px;
}
.summary-container{
    margin: auto;
    background-color: #f0f0f0;
    width: 80%;
    border-radius: 20px;
    box-shadow: 2px 2px rgba(0,0,0,0.4);
    position: relative;
    top: 20px;
    padding: 10px;
    border: 3px solid black;
    margin-bottom: 20px;
}
.text-area{
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.text-area textarea{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    max-width: 80% ;
    min-width: 80%;
    resize: none;
    height: 100px;
}
.chatbot-direct{
    font-size: 20px;
}