.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    height: 50vh;
    border-radius: 20px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  .alert-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 8rem;
    font-size: 2rem;
  }
  .alert i{
    color: yellow;
  }